node_modules
npm-debug.log*

.env
.env.test
.env.test.example
.env.example

keys/*.pem
*.key
*.crt
*.p12

dist
build
out

tests
vitest.config.ts

logs
*.log

.git
.gitignore
.vscode
.idea

coverage
.nyc_output

postman
README.md